 body{
        display: flex;
        justify-content: center;
        align-items: center;
       }
.container{
        border: 1px solid black;
        padding: 20px;
        text-align: center;
        border-radius: 10px;
        margin-top: 20px;
       }